dist: xenial
language: python
python:
- '3.7'
notifications:
  email:
    recipients: chinming@writepath.co
    on_success: always
    on_failure: always
stages:
- unittest
- docker_build
- deploy
- functional_test
install:
- pip install -r requirements.txt
jobs:
  include:
  - stage: unittest
    name: Unit Tests
    script: pytest

  - stage: docker_build
    name: Build and deploy docker for dev branch
    if: branch = dev && type IN (push)
    sudo: required
    services: docker
    before_install:
    - bash travis/credentials.sh
    install: pip3 install awscli --upgrade
    script:
    - docker build -t docsvc .
    after_success:
    - export IMG_TAG="dev-$(git rev-parse --short ${TRAVIS_COMMIT})"
    - docker tag docsvc:latest $AWS_ECR_REGISTRY/$AWS_ECR_REPO_TEST:$IMG_TAG
    - eval $(aws ecr get-login --region ap-northeast-1 --no-include-email)
    - docker push $AWS_ECR_REGISTRY/$AWS_ECR_REPO_TEST:$IMG_TAG
    # Re-tag as latest
    - MANIFEST=$(aws ecr batch-get-image --repository-name $AWS_ECR_REPO_TEST --image-ids imageTag=$IMG_TAG --query 'images[].imageManifest' --output text)
    - aws ecr put-image --repository-name $AWS_ECR_REPO_TEST --image-tag latest --image-manifest "$MANIFEST"
    deploy:
      provider: script
      script: bash travis/deploy_eb.sh
      on:
        branch: dev

  - stage: functional_test
    if: branch = dev && type IN (push)
    script: echo "Functional test"

env:
  global:
  - secure: ZaAMgsHnGYpu2FKoxiLN4RV3J0a/rthpYI4CcMIi5VMLrIx7B9JvN77OSjnV/M+DxConUr9NlAeqSuCl5TOeyRssmC27y/lGTnuiavORdieVe+zSiGD5keIHGh9pmG242/ywUmKcBpKFOK1Ns0FUXsQVGRtco+CyKrJ97vn1bmEe6xH3IAJuLAwyN+ugBfeKEbLHlshAQO4gP45SVGTLfdLINtzfwQAVTAfqyNVKgBGzehM/4GgfRP2n4cjIZFXojHQmcdIWbOCj7jKzEojKxXw1Yj95c3yaVOZFXBWPEP3r6kjnhymLYIjY8XjM8i1KnaeJgnOBl9atGQCsL31BfBMQz0DfiXk1OnluQm8rX0huSOw5jQlfv/1jbmZ7q5Tr4WZkkNI/Ln8RhUb12of/flX9OF1f9AadW2nVhF5rwsv7mOiJQP0gBda9PxHBHCiAw3A7Jx0JTaeAzcV3Ie3/sICqPg7aJ4C3Z+lvaFLNUrJDSeh8kCr8+GmafIcHmjyJjJh08D60IrH1YYjw9VkGSjM5vuEcES1y1+iBEIC7DBlJOY0xtjV9ZxX4anyDicvDMZKVJT66y6Rpu+rdvO7d/0YyGZ5u6POovn2PAj6ztW5YBZkySDZkzMKDW6KDIfHrcm/BoTYdTdsojpA7ldFZcyLScdUU9ZCbiB7AvDQrq0M=
  - secure: XVrmhAnfjun0dfEabKUuAaw9/7AX7kEHfWLB0UmPNbwbbs/XmsrvJRrjqxzqem0cBrX7mCvkL2ris9SdIAAJ6eUHcSsUfQa9mS6ZzGS50Fn8UXp1JH3ZLRaKVL7OwUFXjUa2e6xBObFiosNbq9Qma3YE9KKkNwAFp83kruVW5w5TsosRmvloWIdnclsPRntGlKdbUJ8eG6nZXbEu1xxa5FjwC9rdGd2bk+910HeaOpBqF22f9PmzwVA9pst/A5jTqml8YE3aUcSWP24nqHae9ewFRnl4Yi7zQhCV9We1ZR1YW0/8S1HOtU4Vuhc/mgkOpts7Z45gXw77443ikSgn9B8cU8JvaohWELb/Qtp9bm/T0i4nmNR1dmp/XE15JK8QYyzHZIbvB5TrDhfVSRQj4EkI/B2LP+6oGXSvDkmd7zxM1l1rLV4c7kxhMBaneXrnDJptV02vC928ke6QHuzGq7/UIWE68vaG0Mmb0SRPXU1tz1rn48hq9scOg9nHg2EDr2rYp32Pd4cCMrFHcGia9GW6naLl+zfZColTmXFXMTKjJ34wEqtxpXdJnMhaSr6+1OARu+yuCjc/UCGDObvs+g2Pq0foY1zbXbOQBL3oIDJdfeoskhaHslnw/fyij7QAnaT5UKBsRcmdIh1rixYfL2M3Czo6rOE7VHIo7atdRRc=
