dist: xenial
language: python
python:
  - '3.7'
notifications:
  email:
    recipients: chinming@writepath.co
    on_success: always
    on_failure: always

install:
  - pip install -r requirements.txt

